@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.library__title {
    display: grid;
    grid-template-columns: 1fr 56px 56px;
    align-items: center;
    gap: s.space(6);
    font-size: 44px;    
}