{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <div class="form">
    <h1 class="form__title">Create Product</h1>
    <form method="POST" action="/product-create">
      <div class="form__content">
        <h2 class="form__subtitle">Product Info</h2>
        <div class="form__content--main">
          <div class="form__field">
            <input type="text" name="name" class="form__input" required>
            <label for="name" class="form__label">Product's Name:</label>
          </div>
          <div class="form__field">
            <input type="text" name="price" class="form__input" required>
            <label for="price" class="form__label">Price:</label>
          </div>
        </div>
        <div class="form__field">
          <textarea type="text" name="description" class="form__input" required></textarea>
          <label for="description" class="form__label">Description:</label>
        </div>
        <div class="form__content--buttons">
          <button class="form__button">Create</button>
        </div>
      </div>
    </form>
  </div>
</main>


{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}